* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el encabezado */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

/* Estilos para el formulario de inicio de sesión */
#loginForm {
  text-align: center;
  margin: 1rem;

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}

/* Estilos para el mensaje de inicio de sesión */
#mensajeLogin {
  text-align: center;
  color: #333;
}

nav {
  background-color: #333;
  overflow: hidden;
}

a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Eestilos para el contenedor de películas */
#peliculasContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Estilos para las tarjetas de películas */
.pelicula {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    margin: 0.5rem 0;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;

    &.verMasTardeButton {
      background-color: #007bff;
    }

    &.favoritosButton {
      background-color: #28a745;
    }
  }
}

/* Estilos para las listas de "Ver más tarde" y "Favoritos" */
.watch-later,
.favorites {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
}

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  height: 5rem;
}